#ship {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 50%;
    left: 50%;
    #transition: all 1s ease;

}

.bullet {
    position: absolute;
    width: 2vh;
    height: 1vh;
    background-color: red;
    #transition: all 0.2s ease;
    visibility: visible;
    top: 50%;
    left: 50%;
}

.enemy {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 50%;
    left: 50%;
}

#game {
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: white;
    overflow: hidden;
    z-index: -100;
}

#sky {
    position: absolute;
    background-image: url("../img/sky.png");
    background-repeat: repeat-x;
    animation: infinite;
    height: 100%;
    width: 20000px;
    z-index: -10;
}

#ground {
    position: absolute;
    background-image: url("../img/trees.png");
    background-repeat: repeat-x;
    height: 40%;
    top: 60%;
    width: 20000px;
    z-index: -9;
}


