#ship {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 50%;
    left: 50%;
    #transition: all 1s ease;

}

.bullet {
    position: absolute;
    width: 2vh;
    height: 1vh;
    background-color: red;
    #transition: all 0.2s ease;
    z-index: 0;
    visibility: visible;
    top: 50%;
    left: 50%;
}

#game {
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: black;
    overflow: hidden;
    z-index: -100;
}

#sky {
    position: absolute;
    background-image: url("../img/sky.png");
    background-repeat: repeat-x;
    height: 50%;
    width: 10000px;
    left: -5000px;
    z-index: -9;
}


